.button-logo-text
    display: block
    background: black
    padding: 8px
    width: 100%

.get-start-text
    text-align: center
    color: #b7bbc8
    font-size: 0.8em
    
    
.text-warning
    color: #ffdd40
        
.text-primary
    color: #47cf73

.text-accent
    color: #0ebeff

.test-weak
    color: #b7bbc8